---
---
<div class="wrapper home">
  {% include sidebar.html %}
	<section>
    <div class="home-content">
      {% capture content %}{% include talent-hub.md %}{% endcapture %}
      {{ content | markdownify }}
    </div>

    {% for partner in site.data.partners %}
      <div class="providerContainer">
        <div class="providerImage" style="background: url('{{ partner.image }}');background-size: contain;background-position: center;background-repeat: no-repeat;"></div>
        <div class="textContainer">
          <h3 style="margin:0;">{{ partner.name }}</h3>
          <div class="meta">
            <div class="tags">
              {% for tag in partner.tags %}
              <span class="tag tag-{{ tag | slugify }}">{{ tag }}</span>
              {% endfor %}
            </div>
            <div class="links">
              {% if partner.website %}<a href="{{ partner.website }}" class="social-icon icon-url">{% include social-icon.html icon="Website" %}</a>{% endif %}
              {% if partner.email %}<a href="mailto:{{ partner.email }}" class="social-icon icon-email">{% include social-icon.html icon="Email" %}</a>{% endif %}
              {% if partner.discord %}<a href="{{ partner.discord }}" class="social-icon icon-discord">{% include social-icon.html icon="Discord" %}</a>{% endif %}
              {% if partner.twitter %}<a href="{{ partner.twitter }}" class="social-icon icon-twitter">{% include social-icon.html icon="Twitter" %}</a>{% endif %}
              {% if partner.instagram %}<a href="{{ partner.instagram }}" class="social-icon icon-instagram">{% include social-icon.html icon="Instagram" %}</a>{% endif %}
              {% if partner.linkedin %}<a href="{{ partner.linkedin }}" class="social-icon icon-linkedin">{% include social-icon.html icon="Linkedin" %}</a>{% endif %}
            </div>
          </div>
          <input type="checkbox" id="partner-{{ partner.partnerId }}" class="read-more-state" />
          <p>{{ partner.description }}</p>
          <label class="read-more-trigger" for="partner-{{ partner.partnerId }}"></label>
        </div>
      </div>
    {% endfor %}

    {% include newsletter.html %}

    {%- comment -%} {% include override-color.html accent_color="#ff2d55" %} {%- endcomment -%}
    {% include override-color.html accent_color="#f05" %}

    {% include copy-code.html %}
  </section>
</div>
