---
---
<div class="wrapper home">
  {% include sidebar.html %}
	<section>
    <div class="home-content">
      {% capture content %}{% include talent-hub.md %}{% endcapture %}
      {{ content | markdownify }}
    </div>

    {% for partner in site.data.partners %}
      <div style="border: 1px solid #C4C4C4;border-radius: 1rem;padding: 1rem;margin-bottom:1rem; min-height: 12rem;">
        <div style="width: 10rem;height: 10rem;float: left;margin-right: 1rem;border-radius: 1rem; background: url('{{ partner.image }}');background-size: contain;background-position: center;background-repeat: no-repeat;"></div>
        <h3 style="margin:0;">{{ partner.name }}</h3>
        <div class="tags">
          {% for tag in partner.tags %}
          <span class="tag tag-{{ tag | slugify }}">{{ tag }}</span>
          {% endfor %}
        </div>
        <div class="links">
          <a href="https://google.com" class="Discord-icon">Discord</a>
        </div>
        <p>{{ partner.description }}</p>
        <a target="_blank" href="{{ partner.link }}">Website</a>
      </div>
    {% endfor %}

    {% include newsletter.html %}

    {%- comment -%} {% include override-color.html accent_color="#ff2d55" %} {%- endcomment -%}
    {% include override-color.html accent_color="#f05" %}

    {% include copy-code.html %}
  </section>
</div>
