---
---
<div class="wrapper home">
  {% include sidebar.html %}
	<section>
    <div class="home-content">
      {% capture content %}{% include talent-hub.md %}{% endcapture %}
      {{ content | markdownify }}
    </div>

    {% for partner in site.data.partners %}
      <div class="providerContainer">
        <div class="providerImage" style="background: url('{{ partner.image }}');background-size: contain;background-position: center;background-repeat: no-repeat;">
          <a href="{{ partner.default_link }}" target="_blank"></a>
        </div>
        <div class="textContainer">
          <h3 style="margin:0;"><a href="{{ partner.default_link }}" target="_blank">{{ partner.name }}</a></h3>
          <div class="meta">
            <div class="tags">
              {% for tag in partner.tags %}
              <span class="tag tag-{{ tag | slugify }}">{{ tag }}</span>
              {% endfor %}
            </div>
            <div class="links">
              {% if partner.website %}<a href="{{ partner.website }}" title="website" class="social-icon">{% include social-icon.html icon="Website" %}</a>{% endif %}
              {% if partner.email %}<a href="mailto:{{ partner.email }}" title="email" class="social-icon">{% include social-icon.html icon="Email" %}</a>{% endif %}
              {% if partner.discord %}<a href="{{ partner.discord }}" title="discord" class="social-icon">{% include social-icon.html icon="Discord" %}</a>{% endif %}
              {% if partner.twitter %}<a href="{{ partner.twitter }}" title="twitter" class="social-icon">{% include social-icon.html icon="Twitter" %}</a>{% endif %}
              {% if partner.instagram %}<a href="{{ partner.instagram }}" title="instagram" class="social-icon">{% include social-icon.html icon="Instagram" %}</a>{% endif %}
              {% if partner.linkedin %}<a href="{{ partner.linkedin }}" title="linkedin" class="social-icon">{% include social-icon.html icon="Linkedin" %}</a>{% endif %}
              {% if partner.vimeo %}<a href="{{ partner.vimeo }}" title="vimeo" class="social-icon">{% include social-icon.html icon="Vimeo" %}</a>{% endif %}
              {% if partner.soundcloud %}<a href="{{ partner.soundcloud }}" title="soundcloud" class="social-icon">{% include social-icon.html icon="Soundcloud" %}</a>{% endif %}
            </div>
          </div>
          <input type="checkbox" id="partner-{{ partner.partnerId }}" class="read-more-state" />
          <p>{{ partner.description }}</p>
          {% if partner.description.size >= 230 %}
          <label class="read-more-trigger" for="partner-{{ partner.partnerId }}"></label>
          {% endif %}
        </div>
      </div>
    {% endfor %}

    {% include newsletter.html %}

    {%- comment -%} {% include override-color.html accent_color="#ff2d55" %} {%- endcomment -%}
    {% include override-color.html accent_color="#f05" %}

    {% include copy-code.html %}
  </section>
</div>
